<div class="container mt-4">
    <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>İş Emri</th>
                    @for(type of downtimeColumns; track type){
                        <th>{{ type }}</th>
                    }
                    <th>Toplam</th>
                </tr>
            </thead>
            <tbody>
                @for(workOrder of workOrders; track workOrder)
                {
                    <tr>
                        <td>{{ workOrder.workOrderNo }}</td>
                        @for(type of downtimeColumns; track type){
                            <td>{{ getDowntimeDuration(workOrder, type) }}</td>
                        }    
                        <td>{{ getTotalDowntimeForOrder(workOrder) }}</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td><b>Toplam</b></td>
                    @for(type of downtimeColumns; track type)
                    {
                        <td>{{ getTotalForReason(type) }}</td>
                    }     
                    <td>{{ getOverallTotalDowntime() }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
